<mat-card>
    <mat-card-content>
        <mat-card-title>Ventas</mat-card-title>
        <mat-card-subtitle>
            Se han realizado un total de <code>{{variables?.cantidadVentas||0}} ventas</code> en todas las ciudades, <code>{{variables?.cantidadVentasCredito||0}} al credito</code> y <code>{{variables?.cantidadVentasContado||0}} al contado</code>. Se han vendido <code>{{variables?.cantidadProductosOrigenInternacional||0}} productos de origen internacional</code>
             y <code>{{variables?.cantidadProductosOrigenNacional||0}} productos de origen nacional</code>. Se ha obtenido un <code>total en ventas de L.{{variables?.totalVentas||0}}</code>  con una <code>utilidad de L.{{variables?.totalUtilidad||0}}</code>. <code>Las ganancias
                obtenidas en ventas de productos es de L.{{variables?.totalGanancias||0}}.</code>
        </mat-card-subtitle>
        <jqxGrid 
            [selectionmode]="'checkbox'" 
            [source]="source" 
            [theme]="'material'" 
            [autoheight]="true" 
            [pageable]="true" 
            [altrows]="true" 
            [filterable]="true" 
            [sortable]="true" 
            [columns]="columns" 
            [width]="width"
            [columnsresize]="true"
        >
        </jqxGrid> 
    </mat-card-content>
</mat-card>
