<div class="row">
  <div class="col-lg-12 col-sm-12">
    <app-load-excel 
      (updateSalesProductData)="updateSalesProduct($event)"
      (updateSalesProductDataSource)="updateSalesProductSource($event)"
      (updateSalesVariables)="updateSalesVariables($event)"
      (updateCities)="updateCities($event)"
    ></app-load-excel>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-sm-12">
    <app-grid-sales 
      [salesProductData]="salesProductData" 
      [source]="salesProductDataSource"
      [tempSalesProductData]="salesProductData"
      [variables]="variables"
      [cities]="cities"
    ></app-grid-sales>
  </div>
</div>

