<mat-card>
  <mat-card-content>
    <div class="d-flex flex-wrap">
      <div>
        <mat-card-title>Productos mas vendidos</mat-card-title>
        <mat-card-subtitle>En este grafico se presentan los 5 productos mas vendidos</mat-card-subtitle>
      </div>
      <div class="ml-auto">
        <ul class="list-inline">
          <li>
            <h6 class="text-success m-0">
              <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Cantidad vendida
            </h6>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [stroke]="chartOptions.stroke"
        [tooltip]="chartOptions.tooltip"
        [xaxis]="chartOptions.xaxis"
        [grid]="chartOptions.grid"
      >
      </apx-chart>
    </div>
  </mat-card-content>
</mat-card>
